<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--引入jdbc配置文件-->
    <properties resource="jdbc.properties"/>
    <!--设置Mybatis的全局配置-->
    <settings>
        <!--将下线自动映射为驼峰,emp_name:empName-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <!--类型别名，方便拼写sql不需要导包直接写类名-->
    <typeAliases>
        <package name="com.test.autotest.bean"/>
    </typeAliases>
    <environments default="test">
        <environment id="test">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <!--引入映射文件-->
    <mappers>
        <mapper resource="com/test/autotest/mapper/RegisterInfoMapper.xml"/>
        <mapper resource="com/test/autotest/mapper/LoginInfoMapper.xml"/>
    </mappers>
</configuration>