<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.autotest.mapper.RegisterInfoMapper">
    <select id="selectAll" resultType="RegisterInfo">
    select * from t_user;
   </select>

   <insert id="insert"  useGeneratedKeys="true" keyProperty="id">
       insert into t_user values (null,#{username},#{password},#{caseDesc},#{checkId});
   </insert>
   <select id="selectOne" parameterType="Integer" resultType="RegisterInfo">
       select * from t_user
       <where>
         id = #{id};
       </where>
   </select>
   <select id="selectOneByCaseName" parameterType="String" resultType="RegisterInfo">
       select * from t_user
       <where>
           case_desc = #{caseDesc};
       </where>
   </select>
</mapper>